/* ---------------------------- General -------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: hsl(50, 40%, 20%);
}

#app {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 9fr;
}

/* ---------------------------- Navbar Section -------------------------  */

#navbar {
    display: flex;
    flex-direction: column;
    padding: 1.25em 0.5em 0.5em 0.5em;
    background-color: #fffaf0;
    font-size: 1.3em;
    z-index: 1;
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.2); 
}

    #projects-header {
        align-self: center;
        text-align: center;
        margin-bottom: 0.50em;
    }

    #project-divider {
        width: 100%;
        border-bottom: 1px solid hsl(46, 39%, 50%); 
    }

    ul {
        list-style-type: none; 
    }

    ul li {
        margin: 0.30em;
        padding: 0.30em;
        cursor: pointer; 
        border-radius: 0.5em;
        transition: background-color 0.3s, color 0.3s; 
    }

    ul li:hover {
        background-color: hsl(45, 40%, 80%); 
    }

    ul li:active {
        background-color: hsl(45, 40%, 70%); 
    }

    #add-project {
        font-weight: bolder;
    }

    #projects-list li {
        cursor: pointer;
        transition: background-color 0.2s;
    }
    
    #projects-list li.active {
        background-color: hsl(46, 39%, 85%);
        border-left: 3px solid hsl(46, 39%, 50%);
        font-weight: bold;

    }

/* ---------------------------- Main Section -------------------------  */

#main {
    padding: 0em 1em 0em 1em;
    background-color: white;
}

/* ---------------------------- Project Card -------------------------  */

    .project-card {
        width: 100%; 
        padding: 1em;
        margin: 1em 0; 
        border-radius: 0.5em;
        background-color: white;
        z-index: 1;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); 
    }

        .project-header {
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            margin-bottom: 1em; 
            border-bottom: 1px solid hsl(46, 39%, 50%); 
            padding-bottom: 0.5em;
        }

        .project-title {
            font-size: 1.25em;
            font-weight: bold;
            cursor: pointer; 
        }

        .delete-project-button {
            padding: 0.5em 0.75em;
            background-color: white;
            border: none;
            border-radius: 1em;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .delete-project-button:hover {
            background-color: rgba(225, 224, 216, 0.787);
        }

/* ---------------------------- Task Card -------------------------  */

    .task-card {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 0.25em; 
        border-radius: 0.5em; 
        background-color: white;
    }

        .task-left-section {
            display: grid;
            grid-template-columns: auto 1fr; 
            align-items: center;
            gap: 0.5em; 
            font-size: 0.90em;
            width: 100%; 

        }

            .mark-complete {
                appearance: none; 
                -webkit-appearance: none;
                width: 1.2em;
                height: 1.2em;
                border: 2px solid hsl(46, 39%, 50%);
                border-radius: 50%; 
                cursor: pointer;
                position: relative;
                transition: background-color 0.3s, border-color 0.3s;
            }
            
            .mark-complete:checked {
                background-color: hsl(46, 39%, 50%);
                border-color: hsl(46, 39%, 50%);
            }
            
            .mark-complete:checked::after {
                content: "✓";
                position: absolute;
                color: white;
                font-size: 0.66em;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            .mark-complete:hover {
                border-color: hsl(46, 39%, 23%);
            }

            .task-input {
                border: none;
                background: transparent;
                font-size: inherit;
                width: 95%; 
                padding: 0.3em 0.5em;
                border-radius: 0.5em;
                transition: background-color 0.3s;
            }
            
            .task-input:focus {
                outline: none;
                background-color: rgba(225, 224, 216, 0.3);
                box-shadow: 0 0 0 1px hsl(46, 39%, 80%);
            }
            
            .task-input:hover {
                background-color: rgba(225, 224, 216, 0.2);
            }

        .task-right-section {
            display: flex;
            align-items: center; 
            margin-left: auto; 
        }

            .edit-task-button {
                padding: 0.25em 0.50em;
                background-color: white;
                border: none;
                border-radius: 1em;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .edit-task-button:hover {
                background-color: rgba(225, 224, 216, 0.787);
            }

/* ---------------------------- Modals ------------------------- */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;    
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  #project-form,
  #task-form {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    width: 40%;
    background-color: white;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1.2em rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }
  
  #project-form {
    max-height: 50vh;
  }
  
  #task-form {
    max-height: 60vh; 
  }
  
  #project-title-input,
  #task-description-input,
  #task-due-date,
  #task-priority {
    width: 100%;
    padding: 0.75em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #f9f9f9;
  }
  
  .task-options-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  
  .task-option-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  #task-priority {
    cursor: pointer;
  }
  
  label {
    align-self: center;
  }
  
  #project-form div {
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }
  
  #submit-project,
  #cancel-submit-project,
  #submit-task,
  #cancel-submit-task {
    width: 50%;
    padding: 0.75em;
    background-color: hsl(46, 39%, 80%);
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover,
  #submit-project:hover,
  #cancel-submit-project:hover {
    background-color: hsl(40, 40%, 60%);
  }
  
  button:focus,
  input:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 0 2px hsl(40, 40%, 30%);
  }




